<div id="<%= dom_id comment %>">
  <p>
    <strong>Content:</strong>
    <%= comment.content %>
  </p>

  <p>
    <strong>Commentable:</strong>
    <%= comment.commentable_id %>
  </p>

  <p>
    <strong>Integer:</strong>
    <%= comment.integer %>
  </p>

  <p>
    <strong>Commentable type:</strong>
    <%= comment.commentable_type %>
  </p>

</div>
