<p style="color: green"><%= notice %></p>

<div>
  <h1><%= @article.title %></h1>
  <p>Body: <%= @article.body %></p>
  
  <!-- Display additional content if present -->
  <% if @article.additional_content.present? %>
    <p><strong>Comment: </strong> 
    <br>
    <%= @article.additional_content %></p>
  <% end %>
</div>

<div>
  <%= link_to "Edit this article", edit_article_path(@article) %> |
  <%= link_to "Back to articles", articles_path %>
  
  <%= button_to "Destroy this article", @article, method: :delete %>
</div>
