<div id="<%= dom_id post_comment %>">
  <p>
    <strong>Content:</strong>
    <%= post_comment.content %>
  </p>

  <p>
    <strong>Commentable:</strong>
    <%= post_comment.commentable_id %>
  </p>

  <p>
    <strong>Integer:</strong>
    <%= post_comment.integer %>
  </p>

  <p>
    <strong>Commentable type:</strong>
    <%= post_comment.commentable_type %>
  </p>

</div>
