<h1 class="nav-link">
    <%= link_to "Add post", new_post_path(@post) %>
</h1>
<h1 class="nav-link">
    <%= link_to "Articles", articles_path %>
</h1>
<% @posts.each do |post| %>
    <div class="post">
        <h2 class="post-title">
            <li>
                <%= post.title %>
            </li>
        </h2>
        <li class="post-body"><%= truncate(post.body, length: 35) %></li>
        <h3 class="post-read-link">
            <%= link_to "Read Post", post %>
        </h3>
        <br>
    </div>
<% end %>
