<h1 class="nav-link">
    <%= link_to "Add post", new_post_path(@post) %>
</h1>
<h1 class="nav-link">
    <%= link_to "Articles", articles_path %>
</h1>
<h1>
    <%= button_to "Logout", destroy_user_session_path, data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %>

</h1>

<% @posts.each do |post| %>
  <% if post.user %>
  <div class="post">
    <h2 class="post-title">
      <%= link_to post.title, post %>
    </h2>
    <p class="post-body">
      <%= truncate(post.body, length: 35) %>
    </p>
    <% if post.user %>
      <p class="post-author">Posted by <%= post.user.email %></p>
    <% else %>
      <p class="post-author">Author not available</p>
    <% end %>
    <div class="post-read-link">
      <%= link_to "Read Post", post %>
    </div>
    <br>
  </div>
  <%end%>
<% end %>
